# Основы программирования в Python

*Алла Тамбовцева и Светлана Жучкова, НИУ ВШЭ*

## Семинар 3

### Задача 0 (разминка)

Даны два списка `a` и `b` (см. ниже).
    
1. Выведите на экран первый элемент списка `a`, третий элемент списка `a`, последний элемент списка `a`.
2. Добавьте в список `b` элемент 7 (просто допишите в конец).
3. Замените пятый элемент списка `a` на число 8.
4. Создайте список `merged`, который включает в себя все элементы списка `a` и списка `b`.
5. Создайте новый список `с`, который получается заменой последнего элемента списка `a` на число 100. Сам список `a` измениться не должен!

In [39]:
a = [1, 0, 9, 12, 18, 34, 89, 91, 33, 127]
b = [2, 8, 9, 11, 76, 25, 44]

In [40]:
a0 = a[0]
a2 = a[2]
a3 = a[-1]
print(f'{a0}')
print(f'{a2}')
print(f'{a3}')

1
9
127

In [41]:
b.append(7)
b

[2, 8, 9, 11, 76, 25, 44, 7]

In [42]:
a.remove(18)
a.insert(4,8)
a

[1, 0, 9, 12, 8, 34, 89, 91, 33, 127]

In [45]:
a.extend([2, 8, 9, 11, 76, 25, 44, 7])
merged = a
merged

[1,
 0,
 9,
 12,
 8,
 34,
 89,
 91,
 33,
 127,
 2,
 8,
 9,
 11,
 76,
 25,
 44,
 7,
 2,
 8,
 9,
 11,
 76,
 25,
 44,
 7]

In [53]:
a = [1, 0, 9, 12, 18, 34, 89, 91, 33, 127]
c = a
c.remove(127)
c.insert(9,100)
c

[1, 0, 9, 12, 18, 34, 89, 91, 33, 100]

### Задача 1 (девочковая)

Есть список имен:

In [171]:
girls = ["Иветта", "Виолетта", "Кассандра", "Вирджиния", "Амелия", "Розамунда", "Янина", "Беатриса"]

Используя список `girls`, выведите на экран следующие списки:

    ["Виолетта", "Кассандра", "Вирджиния", "Амелия"]
    ["Вирджиния", "Амелия", "Розамунда", "Янина", "Беатриса"]
    ["Иветта", "Виолетта", "Вирджиния", "Амелия"]
    ["Кассандра", "Амелия", "Розамунда"]

In [172]:
a = girls[1:5]
b = girls[3:8]
c = girls[0:2] + girls[3:5]
d = girls[2:6]
d.remove("Вирджиния")

print(a)
print(f'{b}')
print(f'{c}')
print(f'{d}')

['Виолетта', 'Кассандра', 'Вирджиния', 'Амелия']
['Вирджиния', 'Амелия', 'Розамунда', 'Янина', 'Беатриса']
['Иветта', 'Виолетта', 'Вирджиния', 'Амелия']
['Кассандра', 'Амелия', 'Розамунда']

In [ ]:
a = girls[0]
girls.remove("Иветта")

In [141]:
girls.insert(7, a)

['Виолетта',
 'Кассандра',
 'Вирджиния',
 'Амелия',
 'Розамунда',
 'Янина',
 'Беатриса',
 'Иветта']

In [143]:
b = girls[0]
c = girls[2]
d = girls[3]
e = girls[1]
f = girls[3]
g = girls[4]
girls.insert(8, b)
girls.insert(9, c)
girls.insert(10, d)
girls.insert(11, e)
girls.insert(12, f)
girls.insert(13, g)

In [144]:
girls
print(f'{girls}')

['Виолетта', 'Кассандра', 'Вирджиния', 'Амелия', 'Розамунда', 'Янина', 'Беатриса', 'Иветта', 'Виолетта', 'Вирджиния', 'Амелия', 'Кассандра', 'Амелия', 'Розамунда']

### Задача 2 (поэлементная) 

Дан список L. Выведите на экран (последовательно, с новой строчки): 

* все элементы списка L
* логарифмированные значения элементов списка L

In [58]:
L = [12, 3, 8, 125, 10, 98, 54, 199]

In [61]:
for i in L:
    print(i)

12
3
8
125
10
98
54
199

In [64]:
import math as m 
for i in L:
    print(m.log(i))

2.4849066497880004
1.0986122886681098
2.0794415416798357
4.8283137373023015
2.302585092994046
4.584967478670572
3.9889840465642745
5.293304824724492

In [67]:
L = [12, 3, 8, 125, 10, 98, 54, 199]
L.remove(10)
L.insert(4,0)
L

[12, 3, 8, 125, 0, 98, 54, 199]

In [68]:
for i in L:
    print(i)

12
3
8
125
0
98
54
199

In [69]:
for i in L:
    print(m.log(i))
    
# не может посчитать Log от 0

2.4849066497880004
1.0986122886681098
2.0794415416798357
4.8283137373023015

ValueError: math domain error

Замените пятый элемент списка L на 0. Проделайте те же операции, что и раньше. Объясните, почему получаются такие результаты.

### Задача 3 (демографическая)

В списке `age` сохранены значения возраста респондентов: 

    age = [24, 35, 42, 27, 45, 48, 33]
    
Создайте список age2, в котором будут храниться значения возраста, возведённые в квадрат.

In [72]:
age = [24, 35, 42, 27, 45, 48, 33]
age2 = []
for i in age:
    age2.append(i**2)
age2

[576, 1225, 1764, 729, 2025, 2304, 1089]

### Задача 4 (чётная лёгкая)

Пусть дан список чисел `numbers`. Найдите в нём все чётные числа и поместите их в отдельный список `even_numbers`.

In [74]:
numbers = [1, 5, 6, 8, 10, 21, 25, 1, 0, -9, 9, 12, 26]

In [105]:
even_numbers = []
for x in numbers:
    if x%2==0:
        even_numbers.append(x)

even_numbers

[6, 8, 10, 0, 12, 26]

In [106]:
print(f'В списке even_numbers теперь: {even_numbers}')

В списке even_numbers теперь: [6, 8, 10, 0, 12, 26]

### Задача 4 (чётная средняя)

Пусть дан список чисел `numbers`. Найдите в нём все чётные числа, поместите их в отдельный список `even_numbers` и удалите из исходного списка `numbers` эти числа.

In [173]:
numbers = [1, 5, 6, 8, 10, 21, 25, 1, 0, -9, 9, 12, 26]

In [174]:
even_numbers = []
numbers1 = []
for x in numbers:
    if x%2==0:
        even_numbers.append(x)
    else:
        numbers1.append(x)
numbers = numbers1   

print(f'В списке even_numbers теперь: {even_numbers}')
print(f'В списке numbers теперь: {numbers}')

В списке even_numbers теперь: [6, 8, 10, 0, 12, 26]
В списке numbers теперь: [1, 5, 21, 25, 1, -9, 9]

### Задача 4 (чётная сложная)

Пусть дан список чисел `numbers`. Преобразуйте этот список: перед каждым чётным числом в этом списке поставьте то же число, уменьшенное на единицу.

In [149]:
numbers = [1, 5, 6, 8, 10, 21, 25, 1, 0, -9, 9, 12, 26]

In [150]:
new_numbers = []
for x in numbers:
    if x%2==0:
        new_numbers.append(x-1)
        new_numbers.append(x)
    else:
        new_numbers.append(x)
        
new_numbers

[1, 5, 5, 6, 7, 8, 9, 10, 21, 25, 1, -1, 0, -9, 9, 11, 12, 25, 26]

### Задача 5 (мыслительная)

Объясните, что делает следующий код и почему он выдаёт такие результаты:

In [5]:
lst = [1,2,3,4]

for i in range(len(lst)):
    a = lst[i] + lst[i-1]
    print(a)

5
3
5
7